* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, .bolo-titulo{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color:rgb(0, 0, 0);
text-align:center;
background-color:#b487ce;
border-width: 3px;
border-style:solid;
border-color: rgb(79, 59, 99);
margin-top: 0%;
padding: 10px;
}
body{
background-image: linear-gradient(to bottom, rgb(255, 194, 235),rgb(136, 49, 124));
background-attachment: fixed;
}

/* quem for fazer aqui pode mudar tudo */
.container{
    display: flex;
    justify-content: center;  /* Alinha horizontalmente */
    align-items: center;      /* Alinha verticalmente */
    text-align: center;       /* Alinha o texto ao centro */

}
.bolo{
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    background-color:hwb(36 72% 0%);
    border-width: 3px;
    border-style:solid;
    border-color: rgb(141, 112, 69);
    width: 300px;
    height: 300px;
    border-radius: 10px;
    flex-direction:column;
    margin: 30px;
    padding: 200px;
    
}
.bolodesc{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    
}
.bolotexto{

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
